@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-surface font-sans;
  margin: 0; /* Reset default margin */
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display text-primary uppercase;
}
