name: Deploy to Homeserver

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      
      - name: Build and Deploy
        run: |
          docker compose -f docker-compose.prod.yml up -d --build --remove-orphans
