name: Deploy to Homeserver

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      
      - name: Build and Deploy
        run: |
          cp /home/saul/envs/jiujitsu-unicamp.env .env.local
          docker compose -f docker-compose.yml up -d --build --remove-orphans
          docker image prune -f
